{% extends "_nunjucks/base.html" %}


{% block title %}
UnixMiB - Home Page
{% endblock %}


{% block metaDescription %}
Sito ufficiale UnixMib, il gruppo utenti Linux dell'università Milano Bicocca
{% endblock %}


{% block body %}
{% include "_nunjucks/header.html" %}
<main id="page-home">
<div class="center" id="hero">
	<h1 class="title">Unix<span class="light-text">MiB</span></h1>
	<img class="eh10" src="img/Logo.png" alt="UnixMiB logo (a penguin)">
	<h2 class="subtitle normal-text ">Gruppo Utenti <span class="tinted">Linux</span></h2>
	<h2 class="subtitle normal-text">Università Milano <span class="tinted">Bicocca</span></h2>
</div>

<section id="chiSiamo" class="center">
	<h2>Chi Siamo</h2>
	<i class="icon fi-torsos-all"></i>
	<div class="desc">
		<span class="hl">UnixMib</span> nasce nell'Ottobre 2015 per opera di alcuni studenti della <span class="hl">Bicocca</span> appassionati di <span class="hl">Open Source</span> e di <span class="hl">Linux</span>. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	</div>
</section>

<div class="img eh15" id="foto1"></div>

<section id="cosaFacciamo" class="center">
	<h2>Cosa Facciamo</h2>
	<div class="row">
		<div class="col">
			<div class="icon fi-flag"></div>
			<h3 class="title">Eventi</h3>
			<p class="desc">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
		<div class="col">
			<div class="icon fi-book"></div>
			<h3 class="title">Corsi</h3>
			<p class="desc">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
		<div class="col">
			<div class="icon fi-wrench"></div>
			<h3 class="title">Aiuto</h3>
			<p class="desc">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
		</div>
	</div>
</section>

<!-- Temporary removed, waiting for the first blog post
<div class="img eh15" id="foto2"></div>

<section id="blog">
	<div class="row">
		<div class="col-md-12">	
			<h2><a href="/blog.html">Ultime dal Blog</a></h2>
			<div class="posts">
				<a href="#" class="post">
					<span class="title">Titolo</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim ipsam sed voluptatem libero hic soluta, odio dolores, provident facere inventore quas quisquam perferendis cupiditate velit iusto perspiciatis qui distinctio!</p>
				</a>
				<a class="post" href="#">
					<span class="title">Titolo un po' piu' lungo ma comunque titolo</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum hic accusamus nisi quo amet, fugiat adipisci quibusdam obcaecati facere nostrum at, maiores dolorum odit numquam itaque laboriosam, delectus neque necessitatibus!</p>
				</a>
				<a class="post" href="#">
					<span class="title">Altro Titolo</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolorem ex voluptate, impedit praesentium aperiam! Magni blanditiis eius magnam, cum omnis animi autem earum et at nesciunt, sunt beatae odio!</p>
				</a>
			</div>
		</div>
	</div>
</section>
-->

</main>
{% endblock %}
