extends layout/base.pug

block title
  | unixMiB - Home Page

block metaDescription
  meta(name="description" content="Sito ufficiale unixMiB, il gruppo utenti Linux dell'università Milano Bicocca")


block body
  include parts/header.pug
  main#page-home
    #hero.center
      h1.title
        | unix
        span MiB
      img.eh10(src='~images/logo.svg', alt='unixMiB logo (a penguin)')
      h2.subtitle.normal-text
        | Gruppo Utenti
        span.tinted  Linux
      h2.subtitle.normal-text
        | Università Milano
        span.tinted  Bicocca
    section#chiSiamo.center
      a#chi-siamo.anchor
      h2 Chi Siamo
      i.icon.fa.fa-users
      .desc
        span.hl unixMiB
        |  nasce nell'Ottobre 2015 per opera di alcuni studenti della
        span.h2 &nbsp;Bicocca
        |  appassionati di
        span.h2 &nbsp;Open Source
        |  e di
        span.hl  Linux
        | .
    #foto1.img.eh15
    section#cosaFacciamo.center
      a#gli-obiettivi.anchor
      h2 I nostri obiettivi
      .row
        .col
          .icon.fa.fa-flag
          h3.title Eventi
          p.desc
            | Organizziamo eventi per diffondere la filosofia dell'open source e del software libero.
            br
            |  Hai un idea da proporre? Condividila con noi!
        .col
          .icon.fa.fa-wrench
          h3.title Assistenza
          p.desc
            | Difficoltà nell'installare Linux o problemi con qualche applicazione?
            br
            |  Nessun problema, offriamo supporto tecnico gratuito agli studenti dell'università Bicocca per tutti gli strumenti open source.
    #foto2.img.eh15
    section#comeContattarci.center
      a#come-contattarci.anchor
      h2 Come contattarci
      .row
        .col
          a(href='https://telegram.me/unixmib/', target='_blank')
            i.icon.fab.fa-telegram
            b Gruppo Telegram
        .col
          a(href='https://telegram.me/unixmibinfo/', target='_blank')
            i.icon.fa.fa-bullhorn
            b Canale Telegram
        .col
          a(href='https://www.facebook.com/unixmib/', target='_blank')
            i.icon.fab.fa-facebook
            b Pagina Facebook
        .col
          a(href='https://github.com/unixmib/', target='_blank')
            i.icon.fab.fa-github
            b Github
