.header{
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	position: fixed;

	@media (max-width: 768px){
		position: relative;
	}

	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	box-shadow: 0 1px 3px rgba(0,0,0,0.2);

	background-color: white;

	&__left{
		flex: 1;
		h1{
			display: inline-block;
			font-weight: normal;

			span{
				font-weight: lighter;
				color: $main-color;
			}
		}

		img{
			height: 2.5rem;
			margin-right: 0.5rem;
		}

        a {
            color: $black;
        }
	}

	&__right{
		font-size: 1.4rem;
		font-weight: lighter;

		a{
			&:hover{
				color: $blue;
			}

			&.active{
				color: $blue;
			}
		}
	}

	@media (max-width: 768px){
		display: block;
		&__left, &__right{
			text-align: center;
		}

		&__right a{
			display: block;
		}

		&__right .divider{
			display: none;
		}
	}
}
