header.header
  .header__left
    a(href='/')
      img#logo(src='~images/logo.svg' alt='unixMiB logo (a pengiun)')
      h1
        | unix
        span MiB
  nav.header__right
    ul
      li
        a(href='#chi-siamo') Chi siamo
      li
        a(href='#gli-obiettivi') I nostri obiettivi
      li
        a(href='#come-contattarci') Come contattarci
