* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFFFA;
	color: $black;
}

a {
	color: $blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.anchor {
	display: block;
	position: relative;
	top: -6rem;
	visibility: hidden;
}
