* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFFFA;
	color: $black;
}

a {
	color: #3c91e6;
	text-decoration: none;
}

a:hover {
	color: blue;
}
