@for $i from 1 through 20 {
  .vh#{5*$i} { height: 5vh * $i; }
}

@for $i from 1 through 20 {
  .h#{5*$i} { height: 5% * $i; }
}

@for $i from 1 through 20 {
  .eh#{5*$i} { height: 5em * $i; }
}

.hc, .center{
	text-align: center;
}

.hl, .left{
	text-align: left;
}

.hr, .right{
	text-align: right;
}

.vc{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.light-text{
	font-weight: lighter;
}

.normal-text{
	font-weight: normal;
}

.tinted{
	color: $main-color;	
}

@mixin cover-background($imageUrl, $overlay) {
	@if $overlay {
		background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url($imageUrl) no-repeat center center fixed; 
	} @else {
		background: url($imageUrl) no-repeat center center fixed; 
	}
  	background-size: cover;

}

@mixin tshadow(){
	text-shadow: 0 1px 3px rgba(0,0,0,0.4);
}


@function text-stroke($size: 2, $color: #fff, $correction: 0) {
	$radius: $size - $correction;
	$stroke: ();

	@for $i from -$size through $size {
		@for $k from -$size through $size {

			$x: $k;
			$y: $i;

			@if $k > 0 {
				$x: $k - 0.5;
			} @elseif $k < 0 {
				$x: $k + 0.5;
			}

			@if $i > 0 {
				$y: $i - 0.5;
			} @elseif $i < 0 {
				$y: $i + 0.5;
			}

			@if ($x*$x + $y*$y <= $radius*$radius) {
				$stroke: append($stroke, $i*1px $k*1px 0 $color, comma);
			}
		}
	}

	@return $stroke;
}

@mixin text-stroke($size: 2, $color: #fff, $correction: 0) {
	text-shadow: text-stroke($size, $color, $correction);
}