<!DOCTYPE html>
<html lang="it">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block metaDescription %}{% endblock %}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.png">
    {% block head %}{% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:700|Noto+Serif|Open+Sans:300,400,700" rel="stylesheet">
    <!-- bower:css -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->
    {% block css %}{% endblock %}
</head>
<body>
   {% block body %}{% endblock %}
    <!-- bower:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->
    {% block js %}{% endblock %}
</body>
</html>
